@font-face {
  font-family: spongebobText;
  src: url('./assets/spongebobFont.ttf')
}
* {
  font-family: spongebobText;
}
body {
  background-color: #FFF56C;
  margin: 0;
}
#root {
  height: 100vh;
}
.pageWrapper { 
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
header, footer {
  display: flex;
  justify-content: center;
  width: 100vw;
  background-color: #AEAD0D;
  text-align: center;

}
.textArea {
  height: 20%;
  box-shadow: 0px 0px 15px black;
  border-radius: 15px;
  font-size: 18px;
  
}
h2 {
}
.entryArea {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #FFF56C;
  height: 100%;
  width: 100%;
}
img {
  height: 30%;
  box-shadow: 0px 0px 15px black;
  border-radius: 15px;
}
button{
  background-color: #AEAD0D;
  font-size: 18px;
  height: 7%;
  margin-top: 25px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px black;
}